*.suo
*.user
*.ncb
*.bak
*.old
*.sdf
*.db

*.so

debug/
Debug/
release/
Release/
Obj/
enc_temp_folder/
MID/
.externalToolBuilders/
Debug.win32/
assets/
obj/
*.DS_Store
/*.IAB
/*.IAD
/*.IMB
/*.IMD
/*.PFI
/*.PO
/*.PR
/*.PRI
/*.PS
/*.WK3
