<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>image</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>rect</key>
			<string>{{20,20},{80,80}}</string>
			<key>image</key>
			<string>iconBdLottery</string>
			<key>autoResizeFlag</key>
			<string>1,4</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
		</dict>
		<key>ResultText</key>
		<dict>
			<key>type</key>
			<string>textView</string>
			<key>editable</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{20,110},{280,140}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>align</key>
			<string>center</string>
			<key>fontSize</key>
			<string>16</string>
			<key>content</key>
			<string></string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>bgColor</key>
			<string>0,0,0,0</string>
		</dict>
		<key>lotteryBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>buttonType</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{60,300},{200,40}}</string>
			<key>bottomRightMargin</key>
			<string>{60,60}</string>
			<key>title</key>
			<string> 确定</string>
			<key>bgImage</key>
			<string>btnBdGray</string>
			<key>fontSize</key>
			<string>20</string>
			<key>titleColor</key>
			<string>0,0,0,1</string>
			<key>clickEvent</key>
			<string>doExit</string>
		</dict>
		<key>tipLabel</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{60,380},{200,20}}</string>
			<key>bottomRightMargin</key>
			<string>{60,60}</string>
			<key>content</key>
			<string>客服电话：0591-87085788</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>align</key>
			<string>center</string>
			<key>fontSize</key>
			<string>14</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
</dict>
</plist>
