<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>labelTitle</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>rect</key>
			<string>{{10,20},{460,25}}</string>
			<key>align</key>
			<string>center</string>
			<key>fontSize</key>
			<string>20</string>
			<key>content</key>
			<string>绑定手机有惊喜,  开心拿好礼</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>textActivityInfo</key>
		<dict>
			<key>type</key>
			<string>textView</string>
			<key>rect</key>
			<string>{{20,55},{440,65}}</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>即日起，只要首次成功绑定手机就能获得一次抽奖机会，礼品纷呈，赶快行动吧!每个账号、手机号只可用获得一次奖励，奖励无法进行累加。</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>bgColor</key>
			<string>1,1,1,0</string>
			<key>editable</key>
			<string>0</string>
		</dict>
		<key>adImage</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>rect</key>
			<string>{{10,140},{271,81}}</string>
			<key>image</key>
			<string>iconBdAd</string>
		</dict>
		<key>bindPhoneBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>buttonType</key>
			<string>0</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>rect</key>
			<string>{{300,132},{160,35}}</string>
			<key>title</key>
			<string>我要立即参加</string>
			<key>bgImage</key>
			<string>btnBdBlue</string>
			<key>fontSize</key>
			<string>20</string>
			<key>titleColor</key>
			<string>1,1,1,1</string>
			<key>clickEvent</key>
			<string>doBindPhone</string>
		</dict>
		<key>exitBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>buttonType</key>
			<string>0</string>
			<key>rect</key>
			<string>{{300,190},{160,35}}</string>
			<key>title</key>
			<string>不了,我不想参加</string>
			<key>bgImage</key>
			<string>btnBdGray</string>
			<key>fontSize</key>
			<string>20</string>
			<key>titleColor</key>
			<string>0,0,0,1</string>
			<key>clickEvent</key>
			<string>doExit</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
</dict>
</plist>
