<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NdCtrls</key>
	<dict>
		<key>labelResult</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{20,10},{300,55}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>align</key>
			<string>left</string>
			<key>fontSize</key>
			<string>15</string>
			<key>content</key>
			<string>91通行证%@已成功绑定手机%@。恭喜您获得一次抽奖机会，机会仅此一次！ 快去试试手气吧</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
		</dict>
		<key>lotteryBtn</key>
		<dict>
			<key>type</key>
			<string>button</string>
			<key>bgImage_stretchPoint</key>
			<string>{0.5,0}</string>
			<key>buttonType</key>
			<string>0</string>
			<key>autoResizeFlag</key>
			<string>1,4</string>
			<key>rect</key>
			<string>{{20,80},{280,40}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>title</key>
			<string>试试手气</string>
			<key>bgImage</key>
			<string>btnBdBlue</string>
			<key>fontSize</key>
			<string>20</string>
			<key>titleColor</key>
			<string>1,1,1,1</string>
			<key>clickEvent</key>
			<string>doSweepstakes</string>
		</dict>
		<key>labelTip</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{20,140},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>fontSize</key>
			<string>16</string>
			<key>content</key>
			<string>提示：</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>align</key>
			<string>left</string>
		</dict>
		<key>imgPoint1</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>iconBdPoint</string>
			<key>rect</key>
			<string>{{21,166},{5,5}}</string>
		</dict>
		<key>labelTip1</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{32,160},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>fontSize</key>
			<string>16</string>
			<key>content</key>
			<string>一个手机号码只能绑定一个账号</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>align</key>
			<string>left</string>
		</dict>
		<key>imgPoint2</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>iconBdPoint</string>
			<key>rect</key>
			<string>{{21,186},{5,5}}</string>
		</dict>
		<key>labelTip2</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{32,180},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>fontSize</key>
			<string>16</string>
			<key>content</key>
			<string>一个账号只能被一个手机号码绑定</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>align</key>
			<string>left</string>
		</dict>
		<key>imgPoint3</key>
		<dict>
			<key>type</key>
			<string>imageView</string>
			<key>image</key>
			<string>iconBdPoint</string>
			<key>rect</key>
			<string>{{21,206},{5,5}}</string>
		</dict>
		<key>labelTip3</key>
		<dict>
			<key>type</key>
			<string>label</string>
			<key>autoResizeFlag</key>
			<string>1,2,4,8</string>
			<key>rect</key>
			<string>{{32,200},{0,20}}</string>
			<key>bottomRightMargin</key>
			<string>{20,20}</string>
			<key>fontSize</key>
			<string>16</string>
			<key>content</key>
			<string>解除绑定请进入91社区进行操作</string>
			<key>textColor</key>
			<string>1,1,1,1</string>
			<key>align</key>
			<string>left</string>
		</dict>
	</dict>
	<key>NdView</key>
	<dict>
		<key>bgColor</key>
		<string>0,0,0,0</string>
	</dict>
</dict>
</plist>
